---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import News from '@components/News.astro';
import About from '@components/About.astro';
---

<Layout>
	<Header />
	<main class="w-full flex flex-col items-center">
		<div class="w-full bg-linear-to-r from-red-800 via-red-600 to-rose-600">
			<Hero />
		</div>
		<div class="w-full max-w-5xl px-4 py-8 ">
			<News />
		</div>
		<div class="w-full max-w-5xl px-4 py-8 ">
			<About />
		</div>
	</main>
</Layout>
